<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("utilities/headSetting"); %>
    <title><%=currentData["title"] %></title>
</head>
<body>
    <%- include("components/header"); %>
    <div class="page">
        <div class="container">
        <%- include("components/post"); %>
        <%- include("components/sidePost", {next:nextData["id"], previous:prevData["id"]}); %>
        <%- include("components/monthlyArchive"); %>
        </div>
        
    </div>
    <%- include("components/footer")%>
</body>
</html>